.qmake.stash
Makefile
*.o
libsimOpenMesh.1.0.0.dylib
libsimOpenMesh.1.0.dylib
libsimOpenMesh.1.dylib
libsimOpenMesh.dylib
libsimOpenMesh.so
libsimOpenMesh.so.1
libsimOpenMesh.so.1.0
libsimOpenMesh.so.1.0.0
Makefile.Debug
Makefile.Release
debug/
release/
*.pro.user
*.user
