.qmake.stash
Makefile
*.o
libv_repExtOpenMesh.1.0.0.dylib
libv_repExtOpenMesh.1.0.dylib
libv_repExtOpenMesh.1.dylib
libv_repExtOpenMesh.dylib
libv_repExtOpenMesh.so
libv_repExtOpenMesh.so.1
libv_repExtOpenMesh.so.1.0
libv_repExtOpenMesh.so.1.0.0
Makefile.Debug
Makefile.Release
debug/
release/
