.qmake.stash
Makefile
*.o
libsimExtOpenMesh.1.0.0.dylib
libsimExtOpenMesh.1.0.dylib
libsimExtOpenMesh.1.dylib
libsimExtOpenMesh.dylib
libsimExtOpenMesh.so
libsimExtOpenMesh.so.1
libsimExtOpenMesh.so.1.0
libsimExtOpenMesh.so.1.0.0
Makefile.Debug
Makefile.Release
debug/
release/
*.pro.user
*.user
